[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
bump2version = "*"
watchdog = "*"
twine = "*"
sphinx = "*"
tox = "*"
flake8 = "*"
coverage = "*"
pytest = "*"

[packages]
click = "*"
pyopenssl = "*"
coloredlogs = "*"
colorama = "*"
pyyaml = "*"
pandas = "*"
scipy = "*"

[requires]
python_version = "3.8"
